<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251103519490-u3s9k5acl656h2n51s7a9549hb8dalef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251103519490-u3s9k5acl656h2n51s7a9549hb8dalef</string>
	<key>API_KEY</key>
	<string>AIzaSyB7pPZLsCpxhu5xLZDLOORLYWtta_rauO4</string>
	<key>GCM_SENDER_ID</key>
	<string>251103519490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>work.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-174be</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-174be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251103519490:ios:b04fdfa380fdad4c77d81b</string>
</dict>
</plist>